//@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

$font-primary: 'Quicksand', sans-serif;
$col-btn: #353b44;
$dark: #1e2025;
$dark2: #1d1f23;
$dark-bckg: #373c47;


@font-face {
  font-family: $font-primary;
  src: url("/fonts/Quicksand-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-primary;
  src: url("/fonts/Quicksand-Light.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: $font-primary;
  src: url("/fonts/Quicksand-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: $dark-bckg;
}

canvas {
  height: calc(100% - 2em) !important;
  width: 100%;
  padding: 1em 0;
  cursor: grab;
  max-height: 85vh;
  max-width: 96vw;
  min-width: 45vw;
  &:active {
    cursor: grabbing;
  }
}

header {
  font-family: $font-primary;
  padding: 1.2em 4em;
  background: $dark;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  font-size: 1.1em;
  font-weight: 500;

  span {
    font-weight: 100;
    margin-left: .3em;
    color: #7e8288;
    font-size: .72em;
    top: -.075em;
    position: relative;

    &:before {
      content: ' | ';
      padding-right: .25em;
      top: -.1em;
      font-weight: 100;
      border-radius: 100px;
      position: relative;
    }
  }
}

main {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.grid {
  height: calc(100% - 6em);
  position: relative;
  display: flex;
  padding: 1em;
}

section.spin-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 1em;
  overflow: hidden;

  .spin-grid__visible {
    grid-column: 1 / span 3;
    grid-row: 1/ span 10;
    min-height: 100%;
    background: #191d21;
    max-width: 96vw;
    min-width: 45vw;
  }
  .sidebar-grid__import, .sidebar-grid__toolbar {
    grid-column: 4;
    min-height: 1em;
  }
  .sidebar-grid__import {
    grid-row: 1/ span 9;
    //grid-column: 4 / span 4;
    min-height: 28vh;
    max-height: 65vh;
    min-width: 23vw;
  }
  .sidebar-grid__toolbar {
    grid-row: 10;
    //grid-column: 4 / span 4;
    padding: .5em;
    color: #fff;
    min-width: 23vw;
  }
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow-x: hidden;
  &> div {
    background: $dark2;
    height: 100%;
    width: 100%;
    position: relative;
    min-width: 10em;
  }

  .__content {
    position: relative;
    width: inherit;
    height: inherit;
    textarea {
      width: calc(100% - 4em);
      height: calc(100% - 4em);
      padding: 2em;
      background: transparent;
      color: #f3f3f3;
      border: none;
      resize: none;
      outline: none;
      font-size: .9em;
      transition: .2s;
      font-family: monospace;

      &:focus {
        box-shadow: inset 0px 0px 0px 2px #000000;
      }
    }
  }
}

.spin-grid__visible:after {
  content: ' = ';
  color: $dark2;
  position: absolute;
  font-size: 1.35em;
  right: -.95em;
  width: 1em;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}

.sidebar-grid__import:after {
  content: ' = ';
  color: #1c2024;
  position: absolute;
  font-size: 1.25em;
  bottom: -.95em;
  width: 1em;
  left: 50%;
  transform: translateX(-50%);
}

form[name="sci-calc"] {
  padding: 1em 1em 0;
}

input#display {
  width: calc(100% - 5em);
  padding: 1em 2em;
  text-align: right;
  border: none;
  background: $col-btn;
  border-radius: 3px;
  margin: .5em;
  color: #e8e8e9;
  font-family: $font-primary;
}

.__head {
  color: #d4d4d4;
  font-size: .16em;
  padding: .75em;
  visibility: hidden;
  /* font-size: .85em;*/
  font-family: $font-primary;
}

.btn {
  background: $col-btn;
  color: #fff;
  padding: 1em 0;
  font-size: .6em;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  border-radius: 3px;
  cursor: pointer;
  transition: .2s;
  &:hover {
    background: #2a2f35;
    box-shadow: 2px 2px 8px 2px #0000;
  }

  &.checked.is-active {
    background: #525b69;
  }
}

.__body {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-evenly;
  font-family: $font-primary;
  &.col-2 > .btn {
    width: calc(50% - 1em);
  }
  &.col-4 > .btn {
    width: calc(25% - 1em);
  }
}


.sci-calc-input {
  position: relative;
  #value {
    transform: translateY(-50%);
    z-index: 1;
    position: absolute;
    top: 50%;
    color: #9ca2a9;
    left: 2.75em;
    font-family: $font-primary;
    font-size: .75em;
  }
}

.cssload-loader {
  position: absolute;
  left: 1em;
  top: 0;
  display: inline-block;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  perspective: 780px;
  transform: scale(.45);
  padding-left: .35em;
}

.cssload-text {
  display: inline-block;
  padding-left: 1em;
}

.cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
  left: 0%;
  top: 0%;
  animation: cssload-rotate-one 2s linear infinite;
  -o-animation: cssload-rotate-one 2s linear infinite;
  -ms-animation: cssload-rotate-one 2s linear infinite;
  -webkit-animation: cssload-rotate-one 2s linear infinite;
  -moz-animation: cssload-rotate-one 2s linear infinite;
  border-bottom: 5px solid #fff;
}

.cssload-inner.cssload-two {
  right: 0%;
  top: 0%;
  animation: cssload-rotate-two 2s linear infinite;
  -o-animation: cssload-rotate-two 2s linear infinite;
  -ms-animation: cssload-rotate-two 2s linear infinite;
  -webkit-animation: cssload-rotate-two 2s linear infinite;
  -moz-animation: cssload-rotate-two 2s linear infinite;
  border-right: 5px solid #fff;
}

.cssload-inner.cssload-three {
  right: 0%;
  bottom: 0%;
  animation: cssload-rotate-three 2s linear infinite;
  -o-animation: cssload-rotate-three 2s linear infinite;
  -ms-animation: cssload-rotate-three 2s linear infinite;
  -webkit-animation: cssload-rotate-three 2s linear infinite;
  -moz-animation: cssload-rotate-three 2s linear infinite;
  border-top: 5px solid #fff;
}

.name-left {
  position: absolute;
  right: 2em;
  z-index: 1;
  top: .68em;
  width: 2.25em;
  opacity: .85;
  transition: .2s;
  &:hover{
    opacity: 1;
  }
}

@keyframes cssload-rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-o-keyframes cssload-rotate-one {
  0% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-ms-keyframes cssload-rotate-one {
  0% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-moz-keyframes cssload-rotate-one {
  0% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes cssload-rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-o-keyframes cssload-rotate-two {
  0% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-ms-keyframes cssload-rotate-two {
  0% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-moz-keyframes cssload-rotate-two {
  0% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes cssload-rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-o-keyframes cssload-rotate-three {
  0% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-ms-keyframes cssload-rotate-three {
  0% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-moz-keyframes cssload-rotate-three {
  0% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.conf-load {
  padding: 0 1em;
  margin-top: 1em;

  .btn {
    width: calc(100% - 5em);
    display: block;
    font-family: $font-primary;
    margin: 1em 0;
    text-align: left;
    padding: 1.5em;
    position: relative;
  }
  input {display: none}
}

label {
 span {
    padding-left: 2em;
  }
  svg {
    position: absolute;
    width: 1.25em;
    transition: .1s;
    top: 1.3em;
    path {
      fill:#fff;
    }
  }
}

.conf-tool {
  width: calc(100% - 3.25em);
  display: flex;
  padding: .75em 1em;
  justify-content: space-between;
  &> .btn {
    //width: 30%;
    width: calc(50% - .5em);
  }
}

.cssload-container {
  position: absolute;
  display: inline;
  opacity: 0;
  transition: .1s;
}

label {
  svg.act {
    opacity: 0;
  }
  svg.no-act {
    opacity: 1;
  }
}

label.is-ready {
  svg.act {
    opacity: 1;
  }
  svg.no-act {
    opacity: 0;
  }
}

label.is-active {
  .cssload-container {
    opacity: 1;
  }
  svg.act, svg.no-act {
    opacity: 0;
  }
}

.cssload-speeding-wheel {
  width: 1em;
  height: 1em;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 575ms infinite linear;
  -o-animation: cssload-spin 575ms infinite linear;
  -ms-animation: cssload-spin 575ms infinite linear;
  -webkit-animation: cssload-spin 575ms infinite linear;
  -moz-animation: cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

.copyright {
  position: fixed;
  bottom: .35em;
  color: #757575;
  font-size: .5em;
  margin: auto;
  font-family: $font-primary;
  right: 4em;
  //left: 50%;
  //transform: translateX(-50%);
}

.conf-init {
  display: flex;
  font-family: $font-primary;
  width: calc(100% - 3.25em);
  padding: .25em .75em 1em;
  justify-content: space-between;
  border-bottom: 1px solid #101215;
  font-size: .85em;
  input {
    width: 4em;
    padding: .55em .14em .55em 1em;
    text-align: right;
    border: none;
    background: #525c69;
    color: #ffffff;
    border-radius: 3px;
    margin: .5em;
    font-family: $font-primary;
    float: right;
  }
  span {
    top: 1.15em;
    position: relative;
    color: #89939e;
    left: .55em;
  }
  .__text {
    width: 100%;
  }
}

div#conf-load-info {
  color: #89939e;
  margin-bottom: 1em;
  font-family: $font-primary;
  font-size: .75em;
  left: .2em;
  position: relative;
}

.dragover label {
  border: 2px dotted #989898;
  background: #525d69;
}

.conf-tool.row-2 {
  padding-top: 0;
  button {
    width: 100%;
  }
}
